- if @normativ_type.errors.any?
  .alert.alert-danger
    %h5= t('common.errors')
    %ul
      - @normativ_type.errors.full_messages.each do |message|
        %li= message

= form_for @normativ_type do |f|
  .row.form-group
    .col-2
      %label= t('normativ_types.form.name')
    .col-8
      %input{ :name => 'normativ_type[name]', :class => 'form-control', :value => @normativ_type.name }

  .row.form-group
    = f.submit t('common.save'), :class => 'btn btn-primary'
    = link_to t('common.cancel'), :back, :class => 'btn btn-outline-second'
