.row
  %h2
    Заявление на изменение бюджета
.row
  .col-7
    = render partial: "card"
.row
  .col-12
    = render partial: "signs"
.row
  .col-12
    = render partial: "changes"
    = render partial: "history"

= render partial: "js"