.row
  .col-7
    %h2
      = "Cписок бюджетов"
      / - if current_user.is_admin
      /   =link_to image_tag("add.png", width: "36px"), new_budget_path
  .col-5
    - if @current_user.is_admin?
      %h3 Список справочников:

- if @current_user.is_admin?
  .row
    .col-7
      = render partial: "budgets_index"
    .col-5
      .row
        .col-12
          = link_to "Локации", locations_path
      .row
        .col-12
          = link_to "Статьи затрат", spr_stat_zatrs_path
      .row
        .col-12
          = link_to "Метрики", metriks_path
      .row
        .col-12
          = link_to "Типы бюджетов", budget_types_path
      .row
        .col-12
          = link_to "Типы нормативов", normativ_types_path
- else
  = render partial: "budgets_index"

