= render partial: 'staff_requests/show/info'
= render partial: 'staff_requests/show/state'
= render partial: 'staff_requests/show/changes'
= render partial: 'staff_requests/show/sign_users'
= render partial: 'staff_requests/show/history'
